metadata/~$Python dataset key.xlsx
python-paper-redo/2016-03-26_python-paper-redo/bcbio-nextgen-commands.log
python-paper-redo/2016-03-26_python-paper-redo/bcbio-nextgen.log
python-paper-redo/2016-03-26_python-paper-redo/combined.gene.sf.tpm
python-paper-redo/2016-03-26_python-paper-redo/combined.isoform.sf.tpm
python-paper-redo/2016-03-26_python-paper-redo/combined.sf
python-paper-redo/2016-03-26_python-paper-redo/programs.txt
python-paper-redo/2016-03-26_python-paper-redo/project-summary.yaml
python-paper-redo/2016-03-26_python-paper-redo/report/
python-paper-redo/2016-03-26_python-paper-redo/summary/.Rhistory
python-paper-redo/2016-03-26_python-paper-redo/summary/deseq2-de.tmp
python-paper-redo/2016-03-26_python-paper-redo/summary/qc-summary.tmp
python-paper-redo/2016-03-26_python-paper-redo/summary/qc-summary_cache/
python-paper-redo/AF2/
python-paper-redo/AI6/
python-paper-redo/AI8/
python-paper-redo/AJ6/
python-paper-redo/AJ7/
python-paper-redo/AK10/
python-paper-redo/AK25/
python-paper-redo/AK4/
python-paper-redo/R27/
python-paper-redo/S19/
python-paper-redo/S6/
python-paper-redo/U1/
python-paper-redo/U13/
python-paper-redo/U25/
python-paper-redo/U7/
python-paper-redo/V29/
python-paper-redo/V43/
python-paper-redo/W11/
python-paper-redo/W12/
python-paper-redo/W2/
python-paper-redo/W20/
python-paper-redo/W22/
python-paper-redo/Y18/
python-paper-redo/Y23/
python-paper-redo/Y24/
python-paper-redo/Y5/
python-paper-redo/Z14/
python-paper-redo/Z18/
